@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Poppins:300,200');

nav li a {
    color: black;
} 

nav li:hover{
    background-color: #2A2F33;
}

nav ul{
    list-style: none;
    padding-left: 0em;
}

#menu li{
    border-width: 0.5em;
    padding: 0.5em;
}

#menu li:nth-child(1){
    border-color: #E1493E; 
    border-style: solid none none none;
}

#menu li:nth-child(2){
    border-color: #8ABA56; 
    border-style: solid none none none;
}

#menu li:nth-child(3){
    border-color: #5B4282; 
    border-style: solid none none none;
}

#menu li:nth-child(4){
    border-color: #FF8932; 
    border-style: solid none none none;
}

#menu li:nth-child(5){
    border-color: #19B6E9; 
    border-style: solid none none none;
}

#menu li:nth-child(6){
    border-color: #E84C8B; 
    border-style: solid none none none;
}

nav li:hover a{
    color: white;
}

nav a{
    text-decoration: none;
}

body > header {  /* filho direto */
    font-family: "Poppins";
    font-weight: bold;
    background-color: #046DD5;
    padding: 1em;
}

header a {
    color: white;
    text-decoration: none;
}

#menu {
    font-family: "Poppins";
    font-weight: bold;
    text-align: center;
}

aside{
    font-family: "Lora";
    background-color: #2A2F33;
    color: white;
    padding: 1em;
}

aside a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

section article header a{
    font-family: "Poppins";
    position: absolute;
    font-weight: bold;
    text-align: left;
    text-shadow: 2px 2px #2A2F33;
}

section article p{
    font-family: "Lora";
}

section article p::first-letter{
    font-weight: bold;
    font-size: 25px;
}

section article footer:before{
    content: "By";
}

section article footer{
    font-family: "Poppins";
    background-color: #F4655F;
    color: white;
    padding: 1em;
}

section article footer .tags a{
    color: white;
}

section article footer .comments{
    color: white;
}

section article footer .comments:after{
    content: " comments";
}

body > footer {
    font-family: "Lora";
    background-color: #2A2F33;
    color: white;
    padding: 0.3em;
    margin-top: 1em;
}

body{
    padding: 1em;
    margin: 1em;
}

nav input{
    display: none;
}

nav label{
    display: none;
}